<div class="top-nav">
  <div class="hidden md:flex md:justify-end">
    <a class="text-white flex items-center mr-8 " href="mailto:info@chatazinka.sk">{{ svg("@webroot/img/icons/envelope-solid.svg")|attr({class: 'text-white w-6 h-6 mr-2'}) }} <span class="hidden lg:inline-block">info@chatazinka.sk</span></a>
    <a class="text-white flex items-center mr-8 " href="tel:+421907354874">{{ svg("@webroot/img/icons/mobile-alt-solid.svg")|attr({class: 'text-white w-6 h-6 mr-2'}) }} <span class="hidden lg:inline-block">+421 907 354 874</span></a>
    <a class="text-white flex items-center mr-2 " class="social" href="https://www.facebook.com/chatazinka" target="_blank">{{ svg("@webroot/img/icons/facebook-square-brands.svg")|attr({class: 'text-white w-6 h-6 mr-2'}) }}</a>
    <a class="text-white flex items-center mr-2 " class="social" href="https://www.instagram.com/explore/tags/chatazinka/" target="_blank">{{ svg("@webroot/img/icons/instagram-brands.svg")|attr({class: 'text-white w-6 h-6 mr-2'}) }}</a>
    <a class="text-white flex items-center " class="social" href="https://www.google.com/maps/search/Hotels/@48.8474872,19.6244609,16z/data=!4m12!2m11!3m5!2sChata+Zinka!3s0x47157a96d6d0657b:0xf599110d9001cc67!4m2!1d19.628255!2d48.847391!5m3!5m2!4m1!1i2!6e3" target="_blank">{{ svg("@webroot/img/icons/location-dot-solid.svg")|attr({class: 'text-white w-6 h-6 mr-2'}) }}</a>
  </div>
</div>
